.masthead {
    height: 45px;
    background-color: #3c3c41;
    justify-content: space-between;
    display: flex;
    width: 100vw;
    .application-name {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 18px;
        color: white;
        font-weight: 600;
    }
    .application-account {
        color: white;
    }
}
