@import './themes';
@viewport {
    width: device-width;
}

html {
    background-color: white;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

* {
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    color: $text-color;
    font-family: $text-font-stack;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    margin: 0px;
    padding: 0px;
}

a {
    background: transparent;
    color: $text-color;
    text-decoration: none;
    transition: color .2s;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $text-font-stack;
    font-weight: normal;
}

.app {
    @include themify($themes) {
      background-color: themed('backgroundColor');
    }
}
